<div>
  <h4>Sign Up</h4>
  <form [formGroup]="signupform">
    <div>
      <label for="fname">Full Name</label>
      <input type="text" formControlName="fname" name="fname" />
    </div>
    <button type="button" (click)="addEmail()">+ Add another Email</button>
  
    <div formArrayName="emails">
      <div *ngFor="let email of emails.controls; let i = index">
        <!-- The repeated alias template -->
        <label for="email-{{ i }}">Email :</label>
        <input id="email-{{ i }}" type="text" [formControlName]="i" />
      </div>
     </div>

    <div>
      <button (click)="save()">Save</button>
    </div>
  </form>
</div>
