<div>
    <form #frm="ngForm">
    <h3>SignIn</h3>
    <div>
        <label for="">Login</label>
        <input type="text" name="login" [(ngModel)]="login" #lg="ngModel" required ><span class="err">*</span>
    <div  class="err" [hidden]="lg.pristine || lg.valid">login is required</div>
    </div>
        <div>
        <label for="">Password</label>
        <input type="password" name="password" [(ngModel)]="password" #pw="ngModel" required><span class="err">*</span>
    <div  class="err" [hidden]="pw.pristine || pw.valid">password is required</div>
    
    </div>
    <div>
        <button (click)="doSignIn()" [disabled]="frm.invalid">SignIn</button>
    </div>
    <p>{{msg}}</p>
</form>
</div>
